.titulo_vista{
    background-color: #D7F0FF;
    font-size: 18px; 
    color: #0088CC; 
    width:100%; 
    padding: 7px; 
    text-align: center;
}
.dat_paciente_content{
    vertical-align: middle;
    padding-bottom: 0.3em;
}
.vista_paciente{
    text-align: left;
}
.vista_paciente label{
    display: inline-block;
    margin-left: .3em;
    font-weight: bold;
    text-align: left;
}
.vista_paciente td{
    border: 2px solid #E3E3E3;
}

