{# src/MinsalCitasBundle/CitasMedicas/asignar.html.twig #}
{% extends 'SonataAdminBundle::layout.html.twig' %}
{% set idAreaModEstab = idAreaModEstab ? idAreaModEstab : '1' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/minsalsiaps/css/MntExpediente/list.css') }}" type="text/css" media="all" />
{% endblock%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
    $(document).ready(function () {
        var now = moment();


        $('#rango_fechas').val(now.format('DD/MM/YYYY')+' - '+now.format('DD/MM/YYYY'));

        $('#buscar').on('click',function(e){
            $('#resultado').waitMe({ text: 'Buscando...' });
            $('#resultado').load(Routing.generate("consulta_citas_eliminadas",{'datos':$('#formBusqueda').serialize()}),
            function( response, status, xhr ) {
                if(status=='success'){
                    $('#resultado').waitMe('hide');
                }
            });

        });




    });
    </script>
{% endblock %}

{% block notice %}
{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
{% endblock notice %}

{% block list_table -%}

<div class="container-fluid">
    <div class="row">
        <form id="formBusqueda" method="post" >
            <div class="col-md-7 col-md-offset-2">
                <h2 class="text-center">Listado de Citas Eliminadas</h2>
                <img src="{{ asset('bundles/minsalcitas/imagenes/BuscarCita.png') }}" alt="imagen_buscar" style="width: 100px; margin: 20px auto; display:block;" />
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Rango de Fechas:<span class="glyphicon glyphicon-info-sign fd_help_msg" data-toggle="tooltip" data-placement="right" title="Rango de fecha en que fue otorgada la cita"></span></th>
                            <td><input type="text" id="rango_fechas" name="rango_fechas" class="bootstrap-daterangepicker" data-mask="99/99/9999 - 99/99/9999" placeholder='dd/mm/yyyy - dd/mm/yyyy' style="width:200px"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <center>
                <button id="buscar" style="width: 160px; margin-top: 5px;" class="btn btn-primary" ><i class="glyphicon glyphicon-zoom-in"></i><strong>&nbsp; Buscar</strong></button>
                <a id="limpiar" style="width: 160px; margin-top: 5px;" class="btn btn-info" href="#"><i class="fa fa-trash-o"></i><strong>&nbsp; Limpiar</strong></a>
            </center>
        </div>
    </div>
    <br/>
    <div class="row">
        <div id="resultado" class="col-md-10 center-block" style="min-height: 150px">
        </div>
    </div>
</div>
{% endblock -%}
