@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(../fonts/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(../fonts/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format('woff');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../fonts/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

html, html body, html body form {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#pagina {
	width: 100%;

	height: calc(100% - 29px);
	height: -moz-calc(100% - 29px);
	height: -webkit-calc(100% - 29px);
	height: -o-calc(100% - 29px);

	display: table;
    background-color: #D8D8D8;

    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFFFF), to(#D8D8D8));
    background: -webkit-radial-gradient(circle, #FFFFFF, #D8D8D8);
    background: -moz-radial-gradient(circle, #FFFFFF, #D8D8D8);
    background: -ms-radial-gradient(circle, #FFFFFF, #D8D8D8);
}
#pagina-content {display: table-cell;vertical-align: middle;}
#content {margin: 0 auto;}

table {border-collapse: separate !important;border-spacing: 0 20px !important;}
table tr td {text-align: center;}
td#cont-title{color:#002366;font-size: 14pt;font-family: Helvetica, Arial, sans-serif; text-shadow:1px 2px 3px #AEC6CF;}
td#cont-body{width: 720px; height: 400px;margin: 30px 0;}

.box-settings {position:relative;width:720px; height:400px; z-index:8;}
.shadow { -moz-box-shadow:    inset 0 0 10px #000000; -webkit-box-shadow: inset 0 0 10px #000000; box-shadow:         inset 0 0 10px #000000; }
.over {position: absolute; width: 100%;}
div.row.over {padding-top: 5px;padding-bottom: 5px; margin: 0; height: 100%;}
div.row.over:before {content: initial;}
.over div[class^="col-xs-"], .over div[class^="col-sm-"], .over div[class^="col-md-"], .over div[class^="col-lg-"] {z-index: 1;padding: 3px 15px;}

.module {width: 150px;height: 43px;border-radius: 3px;z-index: 10;}
.module1, .module2, .module3, .module4, .module5, .module6, .module7, .module8, .moduleN {font-family: Helvetica, Arial, sans-serif; font-weight: bold;font-size: 12px; text-shadow:1px 0px 1px #AEC6CF;}
.module1:before, .module2:before, .module3:before, .module4:before, .module5:before, .module6:before, .module7:before, .module8:before, .moduleN:hover {text-align: left;line-height: 43px;}

.module1:before {content: 'Identificación Paciente';}
.module2:before {content: 'Citas Médicas';}
.module3:before {content: 'Seguimiento Clí­nico';}
.module4:before {content: 'Laboratorio Clí­nico';}
.module5:before {content: 'Farmacia';}
.module6:before {content: 'Agenda Medica';}
.module7:before {content: 'Consulta de Selección';}
.module8:before {content: 'Imagenología';}
.moduleN:before {content: 'Formularios Dinamicos';}

.module1 {background: #99363F; background: rgba(153, 54, 63, 0.85);   color:white;border:1px solid #99363F;}
.module2 {background: #ED872D; background: rgba(237, 135, 45, 0.85);  color:white;border:1px solid #ED872D;}
.module3 {background: #2B694E; background: rgba(43, 105, 78, 0.85);   color:white;border:1px solid #2B694E;}
.module4 {background: #779ECB; background: rgba(119, 158, 203, 0.85); color:white;border:1px solid #779ECB;}
.module5 {background: #36454F; background: rgba(54,69,79,0.85);       color:white;border:1px solid #36454F;}
.module6 {background: #191970; background: rgba(25, 25, 112, 0.85);   color:white;border:1px solid #191970;}
.module7 {background: #00BBFF; background: rgba(0, 187, 255, 0.85);   color:white;border:1px solid #00BBFF;}
.module8 {background: #22CFCF; background: rgba(34, 207, 207, 0.85);  color:white;border:1px solid #27DADA;}
.moduleN {background: #779ECB; background: rgba(119,158,203,0.85);    color:white;border:1px solid #779ECB;}

.module1:hover {background: #99363F; border:1px solid #D24955; cursor: pointer;}
.module2:hover {background: #ED872D; border:1px solid #FF9130; cursor: pointer;}
.module3:hover {background: #2B694E; border:1px solid #388966; cursor: pointer;}
.module4:hover {background: #779ECB; border:1px solid #88B7ED; cursor: pointer;}
.module5:hover {background: #36454F; border:1px solid #556F81; cursor: pointer;}
.module6:hover {background: #191970; border:1px solid #2D2DC6; cursor: pointer;}
.module7:hover {background: #00BBFF; border:1px solid #20C5FF; cursor: pointer;}
.module8:hover {background: #22CFCF; border:1px solid #00B5B5; cursor: pointer;}
.moduleN:hover {background: #779ECB; border:1px solid #88B7ED; cursor: pointer;}

#footer {height: 65px; width: 720px;}

.page-footer {
    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
    color: whiteSmoke;
    height: 29px;
    line-height: 29px;
    text-align: right;
    padding: 0 40px 0 30px;
    font-weight:bold;
    z-index: 1;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif !important;

    background-color: #9BDDFF;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#9BDDFF), to(#062A78));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #9BDDFF, #062A78);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #9BDDFF, #062A78);
    /* IE 10 */
    background: -ms-linear-gradient(left, #9BDDFF, #062A78);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #9BDDFF, #062A78);
}

.page-footer .dtic-footer {
    margin-right: 7px;
    height: 17px;
}
