<!DOCTYPE html>
<html>
<head>
    <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'MinsalSiapsBundle::standard_css_reportes.html.twig' %}
    <style type="text/css">

    html,body {overflow: visible !important;}
    div .table-responsive {overflow: visible !important;}

    .panel-info > .panel-heading,.titulo_vista {
        background-color: white;
        font-size: 12px;
        border-color: black;
        color: black;
        font-weight: bold;
        padding: 2px 5px;
    }
    .panel-body, .vista_paciente,.table.table-bordered.table-hover,.table-bordered {font-size: 10px;}
    td,th {padding: 2px 5px;}
    .panel-info{border-color:black;}
    table {width: 100%}
    </style>
</head>
<body >
    {% include 'MinsalSeguimientoBundle:SecHistorialClinico:body_show.html.twig' %}
    {% include 'MinsalSeguimientoBundle:Reportes:firma_medico.html.twig'%}

</body>
</html>
