.fc-custom-content-tb {display: table;height: 141px;width: 100%;}
.fc-custom-content {padding: 0px 15px 0px 15px;display: table-cell;vertical-align: middle;}
.fc-cuscont-left, .fc-cuscont-right {display: block;margin-bottom: 6px;font-weight: bold;}
.fc-cuscont-left {text-align: left;width: 80%;float: left;}
.fc-cuscont-right {text-align: right;width: 20%;float: right;}
.fc-cuscont-disabled {color:#848484;}
.fc-cuscont-disabled.fc-cuscont-border {-webkit-transition: border 0.2s ease-in; -moz-transition: border 0.2s ease-in; -o-transition: border 0.2s ease-in; transition: border 0.2s ease-in; border-bottom: 1px dotted #848484;}
.fc-cuscont-enabled {color:#585858;}
.fc-custom-content:hover .fc-cuscont-disabled.fc-cuscont-border, .fc-custom-content:hover .fc-cuscont-enabled.fc-cuscont-border {color:#489cdf;border-bottom: 1px solid #489cdf;}
.fc-custom-content:hover .fc-cuscont-enabled {color:#489cdf;}
.fc-cuscont-enabled.fc-cuscont-border {border-bottom: 1px dotted #585858;}
.fc-cuscont-left.fc-cuscont-enabled, .fc-cuscont-right.fc-cuscont-enabled {margin-bottom: 3px;}
.fc-custom-content .festive-day, .locked-day, .disabled-day {color: #848484; font-weight: bold;font-size: 18px;text-align: center;}
.fc-custom-content:hover .festive-day  {color: #ED872D; text-decoration: none;}
.fc-custom-content:hover .locked-day   {color: #CE2029; text-decoration: none;}
.fc-custom-content:hover .disabled-day {color: #489cdf; text-decoration: none;}
.fc-day-header {background-color: #006DB0;color: whiteSmoke;}
.custom-modal-header {color: #5bc0de;font-size:16px;font-weight:bold;line-height: 20px;}
.custom-modal-header table tr td:last-child {color: #5bc0de;font-size:13px;font-weight:bold;padding-left: 30px;}
.custom-modal-header .select2-chosen {font-size: 13px;font-weight: normal;}
.panel-primary-custom .panel-primary > .panel-heading, .panel-primary-custom .panel-success > .panel-heading, .panel-primary-custom .panel-info > .panel-heading {font-size:15px;font-weight:bold;}
.agendamd-content {padding: 0 25px 0 25px;}
.label-filters {line-height: 30px !important;text-align: left;color:#0088cc !important;}
.right-side { margin-left: 0%; margin-right: 0%;}
.todo-list .panel { border-radius: 2px; margin-bottom: 4px; color: #444; border-color: #E8F2FF; border-left: 3px solid #82AFDC; }
.todo-list .panel .panel-heading { padding: 10px; background-color: #E8F2FF; border-color: #E8F2FF; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.todo-list .panel .panel-heading .panel-title { font-weight: bold; color: #444; }
.todo-list .panel .panel-heading .panel-title a { width: calc(100% - 25px); display: inline-block; }
.todo-list .panel .panel-heading:hover .panel-title a, .todo-list .panel .panel-heading:hover .checkbox-tools i { color: #507BA7 !important; }
.panel .panel-title a:focus { color: #444; }
.combined i:first-child { position: relative; right: -4px; }
.box-success.aqua .box-title, .box-success.aqua .box-header i.fa, .box-success.aqua .box-header span.fa { color: #39cccc; }
.box-info .box-title, .box-info .box-header i.fa, .box-info .box-header span.fa { color: #00c0ef; }
.checkbox-tools { padding-left: 0px; font-size: 18px;}
.checkbox-tools .check-all:hover { color: #337ab7 !important; }
.checkbox-tools .uncheck-all:hover { color: #d9534f !important; }
.todo-list .panel .panel-heading.dia-no-disponible { background-color: #F3F4F5; border-color: #f3f4f5;}
.todo-list .panel .panel-heading.dia-bloqueado { background-color: #FFE7E7; border-color: #FFE7E7; }
.todo-list .panel .panel-heading.dia-festivo { background-color: #FFF1E1; border-color: #FFF1E1; }
.todo-list .panel .panel-heading.dia-no-disponible .panel-title a { color: #777777 }
.todo-list .panel .panel-heading.dia-bloqueado .panel-title a { color: #CE2029 }
.todo-list .panel .panel-heading.dia-festivo .panel-title a { color: #ED872D; }
.todo-list .panel .panel-heading.dia-no-disponible:hover .panel-title a,
.todo-list .panel .panel-heading.dia-bloqueado:hover .panel-title a,
.todo-list .panel .panel-heading.dia-festivo:hover .panel-title a
{ color: inherit !important; }
[id^="trash-"] { font-size: 20px; }
[id^="trash-"]:hover { color: #f4543c; }
@media (max-width:767px){.sonata-bc .modal.fade.in {top:10% !important;} .sonata-bc .modal {width: auto !important; margin: 0 !important; height: 80% !important;}}
