{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        {{ itemsActionJs|raw }}

    </script>
    <script type="text/javascript">

        jQuery(document).ready(function($) {

            var tipoDiag1 = $('select[id^="form_i375_s"]');
            var tipoDiag2 = $('select[id^="form_i379_s"]');
            var tipoDiag3 = $('select[id^="form_i383_s"]');

            var diag1 = $('input[id^="form_i376_s"]');
            var diag2 = $('input[id^="form_i380_s"]');
            var diag3 = $('input[id^="form_i384_s"]');

            var espec1 = $('textarea[id^="form_i377_s"]');

            tipoDiag1.select2("val", 1);
            tipoDiag2.select2("val", 2);
            tipoDiag3.select2("val", 3);

            tipoDiag1.select2("readonly", true);
            tipoDiag2.select2("readonly", true);
            tipoDiag3.select2("readonly", true);

            var labelDiag1  = $('label[for^="form_i376_s"]');
            var labelDiag1e = $('label[for^="form_i377_s"]');
            labelDiag1.append('*');
            //labelDiag1e.append('*');

            initDiagnosticoSearch(diag1,'Seleccione el Diagnostico Principal...');
            initDiagnosticoSearch(diag2,'Seleccione el Diagnostico Secundario...');
            initDiagnosticoSearch(diag3,'Seleccione la Causa Externa...');

            $('form').on('submit', function(e){
                if( ! diag1.select2('val') ){
                    showDialogMsg('Establecer Diagnostico Principal','<span class="glyphicon glyphicon-remove"></span> Debe establecer el Diagnostico Principal para continuar.','dialog-error');
                    e.preventDefault();
                    diag1.focus();
                }
                // else if ( espec1.val() == ''){
                //     showDialogMsg('Brinde una Observación','Debe agregar alguna especificación u observación sobre el Diagnostico Principal.','dialog-error');
                //     e.preventDefault();
                //     espec1.focus();
                // }
            });


        });//fin document ready

        function repoFormatSelection(repo) {
            console.log(repo);
            /*if(repo.text.length > 0)
                return repo.data1[0].text;
            else*/
                return repo.data1[0].text;
        }



        //Calcula indice de masa corporal



    </script>
{% endblock %}

{% block content %}
{% endblock %}
{% block sonata_breadcrumb %}
{% endblock sonata_breadcrumb %}

{% block actions %}
{% endblock %}
{% block form %}

    {% block sonata_tab_content %}
    <div class="row">
	   <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                    </h4>
                </div>
                <div class="box-body">
                      {% include 'MinsalSiapsBundle:MntPacienteAdmin:encabezado_paciente.html.twig' %}
                      {% include 'MinsalSeguimientoBundle:SecHistorialClinico:consultar_historial.html.twig' %}

                    <div class="sonata-ba-collapsed-fields">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% endblock %}
