{# src/Minsal/SeguimientoBundle/Resources/views/CRUD/list__action_select.html.twig #}
<a onClick="setSelectedListItem({{ object.getId() }})" class="btn btn-sm btn-success view_link" title="">
    <i class="glyphicon glyphicon-ok-sign"></i>
    Seleccionar
</a>
