.establecimiento{
    color: #2B3B75;
    font-size: 30px;
    text-align: center;
}
.usuario{
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    color: #2B3B75;
}
.icono{
    height:50px;
    width: 50px;
}


ul[id$="_roles"]{
    height:500px;
    overflow: auto;
}