{% extends 'SonataAdminBundle::layout.html.twig' %}

{% block sonata_admin_content -%}
<h1>
ACCESO DENEGADO
</h1>
  <img src={{ asset('bundles/minsalsiaps/imagenes/accessoDenegado.png') }} />
{% endblock -%}
