@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

body, html {
    background-color: white !important;
    height: 100% !important;
    min-height: initial !important;
    margin: 0;
}

html {
    height: 100% !important;
}

body > .header .navbar {
    margin-left: 0 !important;
}

body > .header .logo {
    float: none !important;
    text-align: center !important;
    width: auto !important;
    height: auto !important;
    display: block !important;
}

body > .header {
    z-index: 1 !important;
}
.skin-black .logo {
    background-color: transparent !important;
}

.skin-black .logo:hover {
    background: transparent !important;
}

.skin-black .navbar {
    background-color: transparent;
}

header.header {
    position: relative !important;
    max-height: none !important;

    background-color: #dcdcdc;

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FFFFFF 60%, #ededed);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FFFFFF 60%, #ededed);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFFFF 60%, #ededed);

    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.logo img {
    max-width: inherit;
}

body.fixed .navbar {
    position: relative;
}

body > .header .navbar {
    height: auto !important;
}

.navbar-default {
    background-color: #FFFFFF;
}

.content, .right-side {
    background: #fdfdfd;
}

.navbar-btn.sidebar-toggle {
    display: none;
}

.sonata-bc .breadcrumb {
    float: none !important;
}

.row.row-breadcrumb {
    margin-bottom: 0px !important;
    min-height: 50px !important;
}

.col-md-12.breadcrumb {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.right-side {
    margin-left: 5%;
    margin-right: 5%;
}

body.fixed .wrapper {
    margin-top: 0;
}

div.wrapper.row-offcanvas.row-offcanvas-left {
    min-height: initial !important;
    padding-bottom: 35px !important;
}

.page-footer {
    position: fixed;
    bottom:0;
    width: 100%;
    color: whiteSmoke;
    height: 29px;
    line-height: 29px;
    text-align: right;
    padding: 0 40px 0 30px;
    font-weight:bold;
    z-index: 2;

    background-color: #9BDDFF;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#9BDDFF), to(#062A78));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #9BDDFF, #062A78);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #9BDDFF, #062A78);
    /* IE 10 */
    background: -ms-linear-gradient(left, #9BDDFF, #062A78);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #9BDDFF, #062A78);
}

.page-footer .dtic-footer {
    margin-right: 7px;
    height: 17px;
}

.navbar-toggle {
    float: left;
}

.navbar-toggle .icon-bar {
    background: #3c8dbc;
}

div#dialog-message p {
    line-height: 18px !important;
}

.dialog-warning > .ui-dialog-titlebar, .dialog-warning > .ui-widget-header {
    background: #fcf8e3 !important;
    border-color: #fbeed5 !important;
    color: #c09853 !important;
}

.dialog-warning button {
    color: #c09853 !important;
    background: #fcf8e3 !important;
    border: 1px solid #fbeed5 !important;
    border-radius: 5px !important;
}

.dialog-warning button:focus, .dialog-warning button:active, .dialog-warning button:hover {
    border: 1px solid #c09853 !important;
    color: #c09853 !important;
    background: #fcf8e3 !important;
}

.dialog-warning .ui-dialog-content {
    color: #c09853 !important;
}

.dialog-error > .ui-dialog-titlebar, .dialog-error > .ui-widget-header {
    background: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
}

.dialog-error button {
    color: #b94a48 !important;
    background: #f2dede !important;
    border: 1px solid #eed3d7 !important;
    border-radius: 5px !important;
}

.dialog-error button:focus, .dialog-error button:active, .dialog-error button:hover {
    border: 1px solid #b94a48 !important;
    background: #f2dede !important;
    color: #b94a48 !important;
}

.dialog-error .ui-dialog-content {
    color: #b94a48 !important;
}

.dialog-info > .ui-dialog-titlebar, .dialog-info > .ui-widget-header {
    background: #d9edf7 !important;
    border-color: #bce8f1 !important;
    color: #3a87ad !important;
}

.dialog-info button {
    color: #3a87ad !important;
    background: #d9edf7 !important;
    border: 1px solid #bce8f1 !important;
    border-radius: 5px !important;
}

.dialog-info button:focus, .dialog-info button:active, .dialog-info button:hover {
    border: 1px solid #3a87ad !important;
}

.dialog-info .ui-dialog-content {
    color: #3a87ad !important;
}

.dialog-success > .ui-dialog-titlebar, .dialog-success > .ui-widget-header {
    background: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
}

.dialog-success button {
    color: #468847 !important;
    background: #dff0d8 !important;
    border: 1px solid #d6e9c6 !important;
    border-radius: 5px !important;
}

.dialog-success button:focus, .dialog-success button:active, .dialog-success button:hover {
    border: 1px solid #468847 !important;
}

.dialog-success .ui-dialog-content {
    color: #468847 !important;
}

.no-x-close .ui-dialog-titlebar-close {
    display:none;
}

.alert {
    padding-left: 30px;
    margin-left: 15px;
    position: relative;
}

.alert > .fa,
.alert > .glyphicon {
    position: absolute;
    left: -15px;
    top: -15px;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    background: inherit;
    border: inherit;
}

.sonata-ba-form-error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.sonata-ba-form-error h4 {
    margin-top: 0;
    color: inherit;
}
.sonata-ba-form-error .alert-link {
    font-weight: bold;
}
.sonata-ba-form-error > p,
.sonata-ba-form-error > ul {
    margin-bottom: 0;
}
.sonata-ba-form-error > p + p {
    margin-top: 5px;
}
.sonata-ba-form-error .alert-dismissable {
    padding-right: 35px;
}
.sonata-ba-form-error .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.sonata-ba-form-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.sonata-ba-form-error hr {
    border-top-color: #e4b9c0;
}
.sonata-ba-form-error .alert-link {
    color: #843534;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-error hr {
    border-top-color: #e4b9c0;
}
.alert-error .alert-link {
    color: #843534;
}

.mouse-auto            { cursor: auto; }
.mouse-default         { cursor: default; }
.mouse-none            { cursor: none; }
.mouse-context-menu    { cursor: context-menu; }
.mouse-help            { cursor: help; }
.mouse-pointer         { cursor: pointer; }
.mouse-progress        { cursor: progress; }
.mouse-wait            { cursor: wait; }
.mouse-cell            { cursor: cell; }
.mouse-crosshair       { cursor: crosshair; }
.mouse-text            { cursor: text; }
.mouse-vertical-text   { cursor: vertical-text; }
.mouse-alias           { cursor: alias; }
.mouse-copy            { cursor: copy; }
.mouse-move            { cursor: move; }
.mouse-no-drop         { cursor: no-drop; }
.mouse-not-allowed     { cursor: not-allowed; }
.mouse-all-scroll      { cursor: all-scroll; }
.mouse-col-resize      { cursor: col-resize; }
.mouse-row-resize      { cursor: row-resize; }
.mouse-n-resize        { cursor: n-resize; }
.mouse-e-resize        { cursor: e-resize; }
.mouse-s-resize        { cursor: s-resize; }
.mouse-w-resize        { cursor: w-resize; }
.mouse-ns-resize       { cursor: ns-resize; }
.mouse-ew-resize       { cursor: ew-resize; }
.mouse-ne-resize       { cursor: ne-resize; }
.mouse-nw-resize       { cursor: nw-resize; }
.mouse-se-resize       { cursor: se-resize; }
.mouse-sw-resize       { cursor: sw-resize; }
.mouse-nesw-resize     { cursor: nesw-resize; }
.mouse-nwse-resize     { cursor: nwse-resize; }

.select2-offscreen, .select2-offscreen:focus {
    left: 50% !important;
    top: auto !important;
}

@media (max-width: 891px) {
    .banner {
        width:100% !important;
    }
}

.form-control:focus {
  /*border-color: #3c8dbc !important;*/
  border: 1px solid #3C95BC !important;
  /*box-shadow: 10px 10px lightblue;*/
  /*-webkit-box-shadow: #A8EAFF 0px 0px 1px 1px;*/
  -webkit-box-shadow: #A8DBFF 0px 0px 2px 2px;
  background-color: #F2FCFF   !important;
  font-weight: bold;
}
/*90EE90*/
.select2-default {
    color: #000000 !important;
}

.select2-choice {
    color: #000000 !important;
}

.sonata-bc .sonata-ba-list-field-header {
    font-size: 10pt;
    background-color: #D0E6FF;
    color:black;
}

.full_width {
    width: 99% !important;
    text-align: left;
}

.full_width_wicon {
    width: 95% !important;
    text-align: left;
}
/** Clases CSS utilizadas para la Generacion de FormDinamicos **/
.fd_base_label {
    background-color: #F9F9F9;
    padding: 3px 20px 3px 3px;
    border: 1px solid #F4F4F4;
    border-radius: 20px;
}

.fd_base_section_label {
    background-color: #D7F0FF;
    border: 1px solid #0088CC;
    border-radius: 15px;
    font-size: 18px;
    color: #0088CC;
    width:100%;
    padding: 7px;
    text-align: center;
}

.fd_choice_select {
    /*min-width: 262px;*/
    min-width: 25%;
}

.fd_options_ident{
    padding-left: 30px;
}

.fd_checkboxes_hidden_title > li > label > span {
    display: none;
}

.fd_checkboxes_hidden_options {
    display: none !important;
}

.fd_checkbox_hidden_option  {
    display: none;
}

.fd_input_hidden_title {
    display: none !important;
}

.fd_date {
    max-width: 250px;
}

.fd_date_container {
    max-width: 328px;
}

.fd_time>div{
    min-width: 75px;
}

.fd_numeric {
    max-width: 262px !important;
}

.fd_help_msg {
    margin-left: 5px;
    opacity: 0.4;
    cursor: pointer;
}

.fd_help_msg:hover {
    opacity:1.0;
}

label.required span.fd_help_msg{
    float: right;
}

.fd_collection_label{
    background-color: #D7F0FF;
    border: 1px solid #0088CC;
    padding: 4px;
    border-radius: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #0088CC;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

.fd_collection_div{
    background-color: #F2F9FF;
    border: 1px solid #0088CC;
    border-top: 0px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fd_collection_div .sonata-collection-row {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 5px 10px 2px 10px;
    border-radius: 15px;
    margin-bottom: 8px;
}

.fd_collection_div .sonata-collection-row .form-group {
    margin-left: 25px;
}

.fd_collection_div .sonata-collection-row div[id] .form-group {
    margin-bottom: 10px;
}

.fd_collection_div .sonata-collection-row > div > label{
    display: none;
}

.fd_collection_div .sonata-collection-delete {
    margin-top: 20px;
}

.fd_button {
    float: left;
    margin-right: 15px;
}

.fd_section_show_div{
    margin-bottom: 10px;
}

.fd_section_accordion_button{
    float: right;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 10px;
    background-color: #0088CC;
    border-radius: 15px;
    padding: 3px;
    font-size: 16px;
    opacity: 0.4;
}

.fd_section_accordion_button:hover{
    opacity: 1.0;
}

.fd_section_accordion_button_cl{
    float: right;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 13px;
    margin-top: 2px;
    background-color: #0088CC;
    border-radius: 15px;
    padding: 3px;
    font-size: 16px;
    opacity: 0.4;
}

.fd_section_accordion_button_cl:hover{
    opacity: 1.0;
}

.fd_item_label_show{
    padding: 5px;
    font-weight: bold;
}

.fd_item_data_show{
    padding: 5px;
}

.fd_middle_space_btn{
    margin-left: 5px;
}

.fd_textarea_hide{
    display: none !important;
}

.fd_textarea_editor_show{
    display: block !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.form-title-success {
    text-align: center;
    width: 100%;
    color: #00A65A;
    font-weight: bold !important;
}

.form-title-info {
    text-align: center;
    width: 100%;
    color: #00C0EF;
    font-weight: bold !important;
}

.form-title-primary {
    text-align: center;
    width: 100%;
    color: #0088CC;
    font-weight: bold !important;
}

.form-title-warning {
    text-align: center;
    width: 100%;
    color: #F39C12;
    font-weight: bold !important;
}

.form-title-danger {
    text-align: center;
    width: 100%;
    color: #F56954;
    font-weight: bold !important;
}

.form-title-muted {
    text-align: center;
    width: 100%;
    color: #999999;
    font-weight: bold !important;
}

.form-title-default {
    text-align: center;
    width: 100%;
    color: #000000;
    font-weight: bold !important;
}

.nav-tabs.nav-stacked > li.active > a {
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    font-weight: bold;
}

.nav-tabs.nav-stacked > li.active > a:hover,
.nav-tabs.nav-stacked > li.active > a:focus {
    border: 1px solid #d9edf7;
    color: #629BB6;
    background-color: #EAF8FF;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
    border-top-color: #eee;
    border-bottom-color: #eee;
    border-left-color: #eee;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:visited {
    border-right-color: #ddd;
    border-top-right-radius: 0px;
    border-width: 0px 0px 0px 0px;
}

.nav-tabs.nav-stacked {
    border-bottom: 0px;
}

.nav-tabs.nav-stacked>li+li {
    margin-top: 0px;
}

.nav-tabs.nav-stacked>li>a {
    border-radius: 4px 0px 0px 4px;
    margin-right: 0px;
}

.nav-tabs-stacked-content-left {
    padding-right:0px;
}

.nav-tabs-stacked-content-right {
    padding-left:15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-tabs-stacked-table {
    width: 100%;
}

.nav-tabs-stacked-table td {
    vertical-align: top;
}

.top-boder-length-10 {
    width: calc(100%/12*10);
    height: 1px;
    display: block;
    margin: 30px auto;
    border-top: 1px solid #ddd;
}

.disabled-label { color: #6E6E6E;background-color: #F9F9F9;}

span[role="trash"], i[role="trash"], span[role="save"], i[role="save"] {
    color: #7B7B7B;
    font-size: 25px;
}

span:hover[role="trash"], i:hover[role="trash"] {
    color:#f56954;
}

span:hover[role="save"], i:hover[role="save"] {
    color: #3c8dbc;
}

/* CSS que da estilo a los checkbox */
.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #428bca; border-radius: 4px;
    margin-bottom: 0px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: attr(data-switch-on-label);
    padding-left: 6px;
    background-color: #FFFFFF;
    color: #428BCA;
}

.onoffswitch-inner:after {
    content: attr(data-switch-off-label);
    padding-right: 6px;
    background-color: #428BCA;
    color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 10px; margin: 5px;
    background: #FFFFFF;
    border: 1px solid #428BCA; border-radius: 2px;
    position: absolute; top: 0; bottom: 0; right: 26px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.inverted .onoffswitch-inner:before, .inverted .onoffswitch-inner:after {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}

.inverted .onoffswitch-label {
    border: 1px solid #FFFFFF;
}

.inverted .onoffswitch-inner:before {
    background-color: #FFFFFF;
    color: #428BCA;
}

.inverted .onoffswitch-inner:after {
    background-color: #428BCA;
    color: #FFFFFF;
}

.inverted .onoffswitch-switch {
    background: #ffffff;
    border: 1px solid #428BCA;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label, .onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-switch {
    border: 1px solid #CCCCCC;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-inner:before {
    color: #C7C7C7;
}

.onoffswitch > input[disabled] ~ .onoffswitch-label .onoffswitch-inner:after {
    background-color: #D8D8D8;
}
/* fin css que da estilo a los checkbox */

/* Horizontal from-group
.form-group > * {
    float: left;
}*/

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
/** Fin Clases CSS utilizadas para la Generacion de FormDinamicos **/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.hidden {
    display: none;
}

/*
 * Spin para mensajes de busqueda o espera
 */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: table;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loader-img, #loader-img:before, #loader-img:after {
    border-radius: 50%;
    border: 3px solid transparent;
}

#loader-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-top-color: #4CD6FF;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;         /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-img:before {
    content: "";
    position: absolute;
    top:    6px;
    left:   6px;
    right:  6px;
    bottom: 6px;
    border-top-color: #77E0FF;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;      /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-img:after {
    content: "";
    position: absolute;
    top:    15px;
    left:   15px;
    right:  15px;
    bottom: 15px;
    border-top-color: #D0F4FF;
    -webkit-animation: spin 1.5s linear infinite;   /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;           /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);    /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);        /* IE 9 */
        transform: rotate(0deg);            /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);      /* IE 9 */
        transform: rotate(360deg);          /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);    /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);        /* IE 9 */
        transform: rotate(0deg);            /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);      /* IE 9 */
        transform: rotate(360deg);          /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-msj {
    display: table-footer-group;
    text-align: center;
    position: relative;
    color:#888888;
    font-weight: bold;
}


div.floating-menu {
  position: fixed;
  background: #F9F9F9;
  border: 1px solid #3C8DBC;
  width: auto;
  z-index: 100;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 300px;
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  color: #3C8DBC;
}

div.floating-menu a, div.floating-menu h3 {
  display:block;margin:0 0.5em;
}

.floating-menu-options{
  display: none;
  margin-top: 15px;
  font-size: 14px;
}

.floating-menu:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
    padding-left: 50px;
    opacity: 1.0;
}

.floating-menu:hover > div{
  display: block;
}

.floating-menu:hover > i{
  display: none;
}

.advise-block{
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
    border-left: 5px solid #A8D7E7 !important;
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.label-default > .badge.bg-white {
    background-color: #ffffff !important;
    color: #777777 !important;
}

.label-primary > .badge.bg-white {
    background-color: #ffffff !important;
    color: #337ab7 !important;
}

.label-success > .badge.bg-white {
    background-color: #ffffff !important;
    color: #5cb85c !important;
}

.label-info > .badge.bg-white {
    background-color: #ffffff !important;
    color: #5bc0de !important;
}

.label-warning > .badge.bg-white {
    background-color: #ffffff !important;
    color: #f0ad4e !important;
}

.label-danger > .badge.bg-white {
    background-color: #ffffff !important;
    color: #d9534f !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
.pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #ffffff !important;
}

#imprimir-receta.glyphicon-print:hover {
    color:#31708f;
}

.double-arrow-icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 14px;
    top: 2px;
}

.double-arrow-icon span, .double-arrow-icon i {
    position: absolute;
}

.double-arrow-icon span:first-child, .double-arrow-icon i:first-child {
    left: 0px;
    top: -3px;
}

.double-arrow-icon span:last-child, .double-arrow-icon i:last-child {
    right: 0px;
    bottom: -3px;
}

.ui-front {
    z-index: 1050;
}

.range-list li:hover {
    background: #08c;
    border: 1px solid #08c;
    color: #fff;
}

.range-list li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.range-list li.range-list-muted {
    font-size: 13px;
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    color: #9c9c9c;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: default;
}

.range-list ul {
    list-style: none;
    -webkit-padding-start: 5px !important;
}

.tour-hover-element{
    /*background: #21a3f6 !important;*/
    background: #aaddfe !important;
}

.dock-div {
    position: absolute;
    z-index: 100;
    right: 0;
    max-width: calc(100% - 75%);
    height: 97%;
    overflow: hidden;
}

.dock-div-hover-show:hover {
    height: 97%;
}

.dock-div-hover-show {
    height: 40px;
}

.minimized-dock {
    max-width: 83px;
    max-height: 40px;
}

.minimized-dock h3.box-title {
    display: none !important;
}

.minimized-dock div.slimScrollDiv {
    display: none !important;
}

.minimized-dock div.box-footer {
    display: none !important;
}

.linear-divider {
    height: 1px;
    width: 100%;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hover-blue:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0080c0;
}

.selected-blue {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0080c0;
}

/* Auto-Dismiss Messages */
.autodismiss-message-info {
    color: #3c5a77;
    border-color: #c6dce9;
    background-color: #d8e6f0;
}

.autodismiss-message-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.autodismiss-message-warning {
    color: #cc8532;
    background-color: #f0ead8;
    border-color: #e9dec6;
}

.autodismiss-message-error {
    color: #9e3c3c;
    background-color: #f0d8d8;
    border-color: #e9c6c6;
}

.autodismiss-message-small {
    font-size: 14px;
}

.autodismiss-message-normal {
    font-size: 16px;
}

.autodismiss-message-large {
    font-size: 18px;
}

.autodismiss-message-xlarge {
    font-size: 25px;
}

.floating-auto-dismiss {
  position: fixed;
  z-index: 105;
}

.float-inherit {
    float: inherit !important;
}

.float-initial {
    float: initial !important;
}

.float-none {
    float: none !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.center-block {
    float: none !important;
}

.position-relative {
    position: relative;
}

table.td-vertical-align-baseline td {
    vertical-align: baseline !important;
}

table.td-vertical-align-bottom td {
    vertical-align: bottom !important;
}

table.td-vertical-align-middle td {
    vertical-align: middle !important;
}

table.td-vertical-align-sub td {
    vertical-align: sub !important;
}

table.td-vertical-align-super td {
    vertical-align: super !important;
}

table.td-vertical-align-text-bottom td {
    vertical-align: text-bottom !important;
}

table.td-vertical-align-text-top td {
    vertical-align: text-top !important;
}

table.td-vertical-align-top td {
    vertical-align: top !important;
}

table.td-vertical-align-inherit td {
    vertical-align: inherit !important;
}

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
